#grid {
    background-color:white;
    height: 960px;
    width: 960px;
    display:flex;
    flex-wrap: wrap;
}

.flexSquare {
    box-sizing: border-box;
    background-color:white;
    border: 1px solid black;
}