body {
    display:flex;
    justify-content:center;
    font-family: "Cascadia Code", Verdana, Geneva, Tahoma, sans-serif;
}

#ui {
    margin-top: 5vh;
    display:flex;
    height:750px;
    width:650px;
    border: 50px solid rgb(155, 49, 49);
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}

#userInputs {
    background-color:red;
    border-right:1px solid black;
    border-bottom:1px solid black;
    border-left:1px solid black;
    width:650px;
    height:100px;
    display:flex;
}

#inputBox {
    box-sizing:border-box;
    width:200px;
    background-color:#F6F6F8;
    padding:5px;
    flex:auto;
    
    display:flex;
    flex-direction:column;
}

#inputBox>button {
    font-family: "Cascadia Code", Verdana, Geneva, Tahoma, sans-serif;
}

#options {
    box-sizing:border-box;
    width:450px;
    height:100px;
    background-color:#F6F6F8;
    border-left:2px solid black;
    
    flex:auto;

    display:flex;
    flex-direction:column;
    align-items:strech;
}

#options>h3 {
    margin:0px;
    align-self:center;
}

#options>button {
    flex:1;
    font-family: "Cascadia Code", Verdana, Geneva, Tahoma, sans-serif;
}

#grid {
    background-color:white;
    min-height: 650px;
    min-width: 650px;
    border:0.5px solid black;
    display:flex;
    flex-wrap: wrap;
}

.flexSquare {
    box-sizing: border-box;
    background-color:white;
    border: 0.5px solid black;
}